@using BankListManagement.Models;
@model List<BankBase>
@{
    ViewBag.Title = "BankListIndex";
}

<h2>BankListIndex</h2>

<a href="/BankList/AddList">新增資料</a>

<div class="scb-table-body stb-thbg">
    <table border="1"  >
        <thead>
            <tr style = "text-align: center;">
                <th style="padding: 5px; width: 50px;">編號</th>
                <th style="padding: 5px; width: 70px;">銀行代號</th>
                <th style="padding: 5px; width: 100px;">金融機構</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
            <tr style = "text-align: center;">
                <td>@item.id</td>
                <td>@item.BankCode</td>
                <td>@item.Bank</td>
                <td>@Html.ActionLink("編輯", "EditList", new { id = item.id })</td>
                <td>@Html.ActionLink("刪除", "DeleteList", new { id = item.id })</td>
            </tr>
            }

        </tbody>
    </table>
</div>
