@using BankListManagement.Models;
@model List<BankBase>
@{
    ViewBag.Title = "BankListIndex";
}

<h2>BankListIndex</h2>

<a href="/BankList/AddList">新增資料</a>

<div class="scb-table-body stb-thbg">
    <table>
        <thead>
            <tr>
                <th>編號</th>
                <th>銀行代號</th>
                <th>金融機構</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
            <tr>
                <td>@item.id</td>
                <td>@item.BankCode</td>
                <td>@item.Bank</td>
                <td>@Html.ActionLink("編輯", "EditList", new { id = item.id }) |</td>
                <td>@Html.ActionLink("刪除", "Delete", new { name = item })</td>
            </tr>
            }

        </tbody>
    </table>
</div>
