@using BankListManagement.Models;
@*@model List<BankBase>*@
@using PagedList;
@using PagedList.Mvc;
@model PagedList.PagedList<BankListManagement.Models.BankBase>
@{
    ViewBag.Title = "BankListIndex";
}

<h2>Bank List</h2>
<div class="container body-content" id="ResultTable">
    @using (Ajax.BeginForm("QueryBankResult", new AjaxOptions { UpdateTargetId = "queryResult" }))
    {
        <div class="btn-box">
            <input type="text" id="SearchBankCode" name="SearchBankCode" class="s2i-item" placeholder="請輸入銀行代號">
            <input type="text" id="SearchBank" name="SearchBank" class="s2i-item" placeholder="請輸入查詢銀行">
            <input type="submit" id="btnQuery" class="btn link-submit" value="查詢" />
        </div>

    }
</div>

<a href="/BankList/AddList">新增資料</a>

<div class="scb-table-body stb-thbg" style="text-align: center;">
    <table border="1">
        <thead>
            <tr>
                <th style="padding: 5px; width: 70px;">銀行代號</th>
                <th style="padding: 5px; width: 100px;">金融機構</th>
                <th style="padding: 5px; width: 50px;">編輯</th>
                <th style="padding: 5px; width: 50px;">刪除</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var record in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(item => record.BankCode)@Html.HiddenFor(item => record.id)</td>
                    <td>@Html.DisplayFor(item => record.Bank)</td>
                    <td>@Html.ActionLink("編輯", "EditList", new { id = record.id })</td>
                    <td>@Html.ActionLink("刪除", "DeleteList", new { id = record.id })</td>
                </tr>
            }

        </tbody>
    </table>
</div>
@Html.PagedListPager((IPagedList)Model, x => Url.Action("BankListIndex", new { page = x }))
<div id="queryResult">
</div>